@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

*::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: #5182FF;
}

.app {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

.search {
    width: 100%;
    border: 0;
    outline: 0;
    text-align: center;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 20px 0;
    font-size: 30px;
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.words {
    overflow: scroll;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 15px;
    padding: 30px;
    width: 100%;
    color: white;
    font-size: 30px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.words>div>span {
    background-color: white;
    color: #5182FF;
}



@media (max-width: 1200px) {
    .app {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 600px) {
    .words {
        font-size: 20px;
    }
}

@media (max-width: 200px) {
    .words {
        padding: 20px 10px;
    }
}